* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/** header **/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 25px;
}

nav {
  margin-left: auto;
}

/** /header **/

/** section-title **/
.section-title {
  width: 150px;
}
/** /section-title **/


/** hero-banner **/
.hero-banner {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  background-image: url('../images/02-hero-bg.jpg');
  background-size: cover;
}

/** /hero-banner **/


.page-section {
  display: flex;
  align-items: flex-start;
}

.section-title {
  flex-basis: 250px; 
  flex-shrink: 0;
  margin-right: 20px;
  text-align: right;
}

.section-content {
  flex-grow: 1;
}


/** block-wrapper **/
.block-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.block-01 {
  grid-column: 1 / -1;
  grid-row: 1;
}

.block-02 {
  grid-column: 1;
  grid-row: 2;
}

.block-03 {
  grid-column: 2;
  grid-row: 2;
}

.block-04 {
  grid-column: 1;
  grid-row: 3;
}

.block-05 {
  grid-column: 2;
  grid-row: 3;
}


/** /block-wrapper **/



@media (max-width: 600px) {

  /** header **/
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 5px 0;
  }

  /** /header **/

  /** hero-banner **/
  .hero-banner {
    display: none;
  }

  /** /hero-banner **/
}